.no-backg {
    background-image: none!important;
    background-color: white;
}

.logo {
    font-size: 2.5vw;
    font-weight: 600;
    min-width: 120px;
}

.row-line {
    border-bottom: 2.5px solid black;
}

.nav-border {
    border-right: 2.5px solid black!important;
}

.nav-title {
    display: -webkit-flex;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1vw;
}

.nav-link {
    text-decoration: none;
    color: black;
}

.search-div {
    display: -webkit-flex;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: calc(7 * 8.3333% - 12.5px);
}

.search-input {
    width: 35%;
    height: 50%;
}

.user-div {
    display: -webkit-flex;
    display: flex;
    align-items: center;
}

.user-icon {
    width: 50%;
    height: auto;
    padding-top: 50%;
    border-radius:50%;
    cursor: pointer;
}