@font-face {
    font-family: 'balsamiq_sansregular';
    src: url('./fonts/balsamiqsansregular-webfont.woff2') format('woff2'),
         url('./fonts/balsamiqsansregular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'balsamiq_sansbold';
    src: url('./fonts/balsamiqsansbold-webfont.woff2') format('woff2'),
         url('./fonts/balsamiqsansbold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

.balsamiq-reg {
    font-family: 'balsamiq_sansregular';
}

.signup-form-t {
    font-size: 22px;
}